.ant-input-affix-wrapper{
  background: #fff !important;
  border-radius: 0.75rem !important;
  border: 2px solid #d1d5db !important;
  padding-left: 1rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  font-size: 1rem !important;
  transition: box-shadow 0.1s;
}
.ant-input-outlined:focus-within{
  border-color: #3b82f6 !important;
  box-shadow: 0 0 0 1px #3b82f6 !important;
}